/* comes fom https://github.com/joffrey-bion/javafx-themes/blob/master/css/modena_dark.css */
.root {
    /* -fx-base: rgba(60, 63, 65, 255); */
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(20, 20, 20);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/*
.titled-pane > .title > .text {
    -fx-text-overrun: leading-ellipsis;
}
*/

/*
.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right, white 0%, grey 30%, grey 70%, white 100%) transparent transparent transparent;
}
*/

.grid-view .grid-cell:hover {
    -fx-background-color:rgb(80, 80, 80);
    -fx-background-radius: 3.0;
    -fx-padding: 8;
}

.grid-view .image-grid-cell:selected {
    -fx-background-color: -fx-accent;
    -fx-border-style: solid;
    -fx-border-width: 3 3 3 3; /* its make really one-pixel-border */
    -fx-border-color: white;
}
/*
.grid-view .grid-cell:selected {
    -fx-background-color:white;
    -fx-border-style: solid;
    -fx-border-width: 3 3 3 3; *//* its make really one-pixel-border */
/*    -fx-border-color: white;
}
*/

#plusCollection {
    -fx-icon-code: fas-plus;
    -fx-icon-color: -fx-text-base-color;
    -fx-icon-size: 16;
}

#deleteCollection {
    -fx-icon-code: far-trash-alt;
    -fx-icon-color: -fx-text-base-color;
    -fx-icon-size: 12;
}

#fitGridCell {
    -fx-icon-code: fas-expand;
    -fx-icon-color: -fx-text-base-color;
    -fx-icon-size: 16;
}

#fas-expand-alt {
    -fx-icon-code: fas-expand-alt;
    -fx-icon-color: -fx-text-base-color;
    -fx-icon-size: 16;
}



