// SPDX-License-Identifier: MIT

#deleteCollection {
     -fx-icon-code: far-trash-alt;
     -fx-icon-size: 12;
 }

 #fas-expand-alt {
     -fx-icon-code: fas-expand-alt;
     -fx-icon-color: -fx-text-base-color;
     -fx-icon-size: 16;
 }

 #fitGridCell {
     -fx-icon-code: fas-expand;
     -fx-icon-color: -fx-text-base-color;
     -fx-icon-size: 16;
 }