<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="LOGS" value="./logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %highlight(%-5level) [%blue(%-34t)] %yellow(%-80.80C{79}:%4.4L): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>


    <!-- LOG everything at INFO level -->
    <root level="info">
        <!--        <appender-ref ref="RollingFile" />-->
        <appender-ref ref="Console"/>
    </root>

    <!--    &lt;!&ndash; LOG "com.baeldung*" at TRACE level &ndash;&gt;-->
    <!--    <logger name="com.baeldung" level="trace" additivity="false">-->
    <!--        <appender-ref ref="RollingFile" />-->
    <!--        <appender-ref ref="Console" />-->
    <!--    </logger>-->

</configuration>
