// SPDX-License-Identifier: MIT


.v-main {

  -fx-background-color: -color-bg-default;
  -fx-alignment: TOP_CENTER;

  .button-top-bar {
    //-fx-background-color: -color-bg-inset;
    -fx-icon-size: 24px
  }

  .tabs {
    -fx-alignment: CENTER;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-color: -color-border-default, -color-bg-default;

    > .label {
      -fx-padding: 8 12 8 12;
      -fx-background-insets: 0, 0 0 0 0;
      -fx-background-color: -color-border-default, -color-bg-default;
      -fx-text-fill: -color-fg-muted;

      &:selected {
        -fx-background-insets: 0, 0 0 3 0;
        -fx-background-color: -color-accent-emphasis, -color-bg-default;
        -fx-text-fill: -color-fg-default;
      }

      &:hover,
      &:hover:selected {
        -fx-text-fill: -color-fg-default;
      }
    }
  }

  .v-navigation {
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 0 1px 0;
    //-fx-icon-size: 24px;

    .icon-container {
      //-fx-icon-size: 24px;
      .ikonli-font-icon {
        -fx-icon-size: 24px;
      }

      .zero-notif {
        .ikonli-font-icon {
          -fx-icon-size: 24px;
          //-fx-icon-color: red;
          -fx-icon-code: "mdomz-notifications_none";
        }
      }

      //> .ikonli-font-icon {

      //}

      .many-notif {
        //.ikonli-font-icon {
        //-fx-icon-size: 24px;
        //-fx-icon-color: -fx;
        -fx-icon-code: "mdomz-notification_important";
        //}

        //> .ikonli-font-icon {
        //  -fx-icon-code: "mdomz-notifications_none";
        //}
        //}
      }
    }
  }

  .v-status {
    -fx-border-color: -color-border-default;
    -fx-border-width: 1px 0 0 0;
  }
}


