// SPDX-License-Identifier: MIT

.v-organize {
  .v-gallery {
    .grid-view {
      .grid-cell:hover {
        -fx-background-color: -color-base-6;
        -fx-background-radius: 3.0;
        -fx-padding: 8;
      }

      .image-grid-cell:selected {
        -fx-background-color: -color-base-6;
        -fx-border-style: solid;
        -fx-border-width: 0 0 0 0; /* its make really one-pixel-border */
        -fx-border-color: -color-base-0;
      }
    }
  }
}

#gallery {
  -fx-background-color: -color-bg-inset;
  -fx-border-color: -color-border-default;
  -fx-border-width: 0 1px 0 1px;
}

#gallery-toolbar {
  -fx-background-color: -color-bg-inset;
}

