// SPDX-License-Identifier: MIT

.v-organize {

  > .v-media-collection {
    -fx-background-color: -color-bg-inset;
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 1px 0 0;

    .tree-cell {
      //-fx-padding: 0;
      //-fx-indent: 0;
      -color-cell-bg: -color-bg-inset;
      -color-cell-bg-selected: -color-accent-subtle;
      -color-cell-bg-selected-focused: -color-accent-subtle;
      -color-cell-border: -color-bg-inset;
      -fx-background-radius: 5px;

      //>.tree-disclosure-node,
      //>.tree-disclosure-node>.arrow {
      //  -fx-min-width: 0;
      //  -fx-pref-width: 0;
      //  -fx-max-width: 0;
      //  -fx-min-height: 0;
      //  -fx-pref-height: 0;
      //  -fx-max-height: 0;
      //  visibility: hidden;
      //}
      //
      //>.container {
      //  -fx-min-height: 2.1em;
      //  -fx-pref-height: 2.1em;
      //  -fx-max-height: 2.1em;
      //  -fx-padding: 0 6px 0 1.2em;
      //
      //  -fx-border-color: -color-border-muted;
      //  -fx-border-width: 0 0 0 1;
      //}
      //
      //&:selected>.container>.title {
      //  -fx-font-weight: bold;
      //  -fx-text-fill: -color-accent-fg;
      //}
      //
      //&:hover:filled {
      //  -color-cell-bg: -color-accent-subtle;
      //  -color-cell-bg-selected: -color-accent-subtle;
      //  -color-cell-bg-selected-focused: -color-accent-subtle;
      //}
      //
      //&:group {
      //  >.container {
      //    -fx-min-height: 2.5em;
      //    -fx-pref-height: 2.5em;
      //    -fx-max-height: 2.5em;
      //    -fx-padding: 0 0 0 8px;
      //
      //    .ikonli-font-icon {
      //      -fx-fill: -color-fg-muted;
      //      -fx-icon-color: -color-fg-muted;
      //    }
      //
      //    >.arrow {
      //      -fx-icon-code: mdal-add;
      //    }
      //  }
      //
      //  &:expanded>.container>.arrow {
      //    -fx-icon-code: mdmz-remove;
      //  }
      //}
      //
      //.tag {
      //  -fx-padding: 2px 4px 2px 4px;
      //  -fx-background-radius: 4px;
      //  -fx-font-size: 0.75em;
      //  -fx-background-color: -color-success-subtle;
      //}
    }
  }

  .v-gallery {

    #grid-current-date {
      //-fx-background-color: rgb(252,252,252);
      //-fx-background-color: rgb(0, 0, 0, 0.2);
      -fx-background-color: transparent;
      -fx-opacity: 0.9;
      -fx-padding: 10, 5, 10, 5;
      -fx-text-fill: rgba(255, 255, 255, 1);
      -fx-border-radius: 10 10 10 10;
      -fx-background-radius: 10 10 10 10;
      -fx-effect: dropshadow(gaussian, gray, 10, 0.5, 0.0, 0.0);
      -fx-font-size: 3em;
      -fx-font-weight: bolder;
    }

    .grid-view {
      .grid-cell {
        .ikonli-font-icon {
          -fx-icon-color: white;
          -fx-background-color: rgba(255, 255, 255, 0.2);
        }
      }

      .grid-cell:hover {
        //-fx-background-color: -color-accent-fg;
        -fx-background-color: transparent;
        -fx-background-radius: 3.0;
        -fx-padding: 8;
        -fx-border-width: 2 2 2 2; /* its make really one-pixel-border */
        -fx-border-color: -color-accent-fg;
      }

      .image-grid-cell:selected {
        -fx-background-color: transparent;
        -fx-border-style: solid;
        -fx-border-width: 4 4 4 4; /* its make really one-pixel-border */
        -fx-border-color: -color-accent-emphasis;
      }
    }

    .gallery-center {
      .tool-bar {
        #grid-cell-expand {
          -fx-icon-code: mdi2a-arrow-expand;
          -fx-icon-color: -color-fg-default;
          -fx-icon-size: 18;
        }

        #grid-cell-collapse {
          -fx-icon-code: mdi2a-arrow-collapse;
          -fx-icon-color: -color-fg-default;
          -fx-icon-size: 18;
        }
      }
    }

  }

  //.date-picker {
  //  -fx-border-width: 0;
  //  -fx-border-insets: 0;
  //  -fx-border-style: solid;
  //  -fx-background-color: transparent;
  //}

  .v-details {
    -fx-background-color: -color-bg-inset;
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 0 0 1px;

    .combo-box-base {
      -fx-border-style: solid;
      -fx-border-width: 0;
      -fx-border-insets: 0;
      -fx-background-color: transparent;
    }

    .date-picker > .text-field {
      -fx-border-width: 0;
      -fx-border-insets: 0;
      -fx-background-color: transparent;
      -fx-padding: 0 0 0 0;
    }

    .date-picker > .arrow-button .ikonli-font-icon {
      -fx-icon-code: mdi2a-arrow-expand;
      -fx-icon-color: -color-fg-default;
      -fx-icon-size: 18;
    }

    .time-picker {
      -fx-border-insets: 0;
      -fx-border-width: 0;
      -fx-background-color: transparent;
      -fx-border-style: solid;
      -fx-padding: 0 0 0 0;
      -fx-selection-bar: -color-accent-emphasis;
      -fx-box-border: -color-border-default;
      //-fx-background-color: -color-success-emphasis, -color-bg-default;

    }

    .time-picker > .box {
      -fx-border-insets: 0;
      -fx-border-width: 0;
      -fx-background-color: transparent;
      -fx-border-style: solid;
      -fx-padding: 0 0 0 0;
    }

    //.time-picker > .box > .fields-box > .time-field:focused {
    //  -fx-background-color: -fx-selection-bar;
    //}

    .time-picker > .box > .edit-button {
      -fx-padding: 0 0 0 0;
      -fx-border-insets: 0;
      -fx-border-width: 0;
    }

    .time-picker > .box > .edit-button > .ikonli-font-icon {
      -fx-icon-code: mdoal-create;
      //-fx-icon-size: 14px;
      //-fx-icon-color: -fx-mark-color;
    }

    .time-picker > .box > .fields-box {
      -fx-padding: 0px 0px;
    }

    //.date-picker > .arrow-button {
    //  //-fx-icon-code: mdi2a-arrow-expand;
    //  //-fx-icon-color: -color-fg-default;
    //  //-fx-icon-size: 18;
    //  -fx-background-image: mdi2a-arrow-expand; /* Url of the icon */
    //  -fx-background-size: 60% 60%; /* Can be `cover` or `100% 100%` ect. */
    //  -fx-background-repeat: no-repeat;
    //  -fx-background-position: center center; /* Put the icon in the center */
    //}
  }
}

#originalDate {
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-border-insets: 0;
}


#gallery {
  -fx-background-color: -color-bg-inset;
  -fx-border-color: -color-border-default;
  -fx-border-width: 0 1px 0 1px;
}

#gallery-toolbar {
  -fx-background-color: -color-bg-inset;
}


//.combo-box .scroll-bar:vertical {
//  -fx-background-color: transparent;
//  -fx-border-color: transparent;
//}
//
//.combo-box .scroll-bar:vertical .track {
//  visibility: hidden;
//  -fx-background-color: transparent;
//  -fx-border-color: transparent;
//}
