lombok.anyconstructor.addconstructorproperties = true
lombok.addNullAnnotations = spring
lombok.addLombokGeneratedAnnotation = true
config.stopbubbling = true
lombok.log.fieldname = log
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier
